.venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
.idea/
catboost_info/
dist/
build/
*.egg-info/
train.csv
test.csv
sample_submission.csv
data/log_file.log
data/results.csv
model/*.cbm
model/*.json
model/*.joblib
